
@{
    ViewData["Title"] = "LimiteClasesExcedido";
}

<h1 class="text-danger">Limite de Clases Excedido. Contrata una nueva tarifa</h1>

<a asp-controller="Clases" asp-action="Index">Volver a Clases</a>



