@model Empleado

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Model.Nombre</h1>
<h3>Id: @Model.Id</h3>
<h3>Apellido: @Model.Apellido</h3>
<h3>Fecha de Nacimiento: @Model.FechaNacimiento</h3>

<p>Use this page to detail your site's privacy policy.</p>
