@inject GestionBox.Services.IClase _ClasesServices
@model GestionBox.Models.Horario
@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clase" class="control-label"></label>
                <select asp-for="ClaseId" class="form-control">
                    @*<option value="">Todos </option>*@

                    @{List<Clase> clase = await _ClasesServices.GetClaseAsync(); }

                    @foreach (Clase nombreClase in clase)
                    {
                        <option value="@nombreClase.Id">@nombreClase.Nombre</option>
                    }

                </select>
                @*<input asp-for="ClaseId" class="form-control" />*@
                <span asp-validation-for="ClaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="BotonHorarioCreado" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista Horarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
